:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#maincontainer {
  display: flex;
  justify-content: center;
  gap: 2cm;
}

body {
  background-color: #F0F0F0
}

#buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1cm;
  border: 1px solid black;
  width: 6cm;
}

#gridcontainer {
  justify-content: center;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 70vh;
  height: 70vh;
  max-width: 72vh;
  max-height: 72vh;
  background-color: white;

}

#colorbtncontainer {
  display: flex;
  gap: 10px;
}

/* .grid-item {  

} */

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  background-color: grey;
}

button.active {
  color: white;
  background-color: black;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;  
  width: 100%;
  height: 15px;
  border-radius: 5px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: black;
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  background: black; 
  cursor: pointer; 
}